################################################################################
#    ______ _   ___      __
#   |  ____| \ | \ \    / /
#   | |__  |  \| |\ \  / /_   ____ _ _ __ ___
#   |  __| | . ` | \ \/ /\ \ / / _` | '__/ __|
#   | |____| |\  |  \  /  \ V / (_| | |  \__ \
#   |______|_| \_|   \(_)  \_/ \__,_|_|  |___/
#
################################################################################

#-------------------------------------------------------------------------------
# General Setup
#-------------------------------------------------------------------------------

# Application Path
# Point to your application code, will be available at `/var/www`.
#--------------------------------------
APPLICATION=../code/

# Data Path:
# For all storage systems.
#--------------------------------------
DATA_SAVE_PATH=../data/

#-------------------------------------------------------------------------------
# Containers Customization
#-------------------------------------------------------------------------------

# POSTGRES ---------------------------------------------------------------------

POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

# MONGODB ----------------------------------------------------------------------

MONGODB_PORT=27017

# NODE -------------------------------------------------------------------------

NODE_PORT=9090